<?xml version="1.0" encoding="utf-8"?>

<!-- Para obtener más información sobre cómo usar la transformación de web.config, visite https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    En el ejemplo siguiente, la transformación "SetAttributes" cambiará el valor de    "connectionString" para que solamente use "ReleaseSQLServer" cuando el localizador "Match"    encuentre un atributo "name" con el valor "MyDB".    <connectionStrings>     <add name="MyDB".        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <trust level="Full" />
    <customErrors mode="Off" />
    <machineKey validationKey="B5B3433BC45ED4D4CDD570B08EC747D0B78B6B05D5F9D9FB252D96ED34474C34E4E1664213422661A91119619AEFC0C550047FF21CF148F44B90B2D6C2B88CF8" decryptionKey="3861894B1BE0CE324BF2FBF5AB2FF51E141BC2BED5E0996B" validation="SHA1" />
    <globalization requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" fileEncoding="iso-8859-1" />
    <!--
      En el ejemplo siguiente, la transformación "Replace" reemplazará toda la 
      sección <customErrors> del archivo web.config.
      Tenga en cuenta que, como solo hay una sección customErrors bajo el nodo 
      <system.web>, no es necesario usar el atributo "xdt:Locator".
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>